body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(https://na.rdcpix.com/1608851076/041d5f431caf3c6a8fff3c06e4128418w-c219569xd-w685_h860_q80.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.danceFloor {
  height: 100%;
  width: 100%;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  /* position:center; */
}

.hulk {
  width: 100px;
  height: 300px;
  transition:  1.5s;
}

.largeHulk {
  transform: scale(2.5);
}

.blinkyDancer {
  width: 100px;
  height: 300px;
}

.popDancer {
  width: 200px;
  height: 300px;
  top: 1000px;
  /* position: center; */
  /* left: -1000px; */
}